localfontconfig.Rnw
main.tex
main.pdf
*~

# latex
*.pdfpc
test.*
*.snm 
*.nav 
*.log 
*.out 
*.run.xml
*-blx.bib
*.blg
*.bbl
*.vrb
*.aux
*.toc
*.glg
*.glo
*.gls
*.ist
*.bcf
*.dvi
*.thm
*-concordance.tex
*.lof
*.fff
*.ttt
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.tdo
*.spl
*.xdv
*.4ct
*.4tc
*.idv
*.xref
*.tmp
*.lg
*.cb
*.cb2
*.adx
*.idx
*.ilg
*.ind
*.ldx
*.sdx