%
% Make a copy of this as localfontconfig.Rnw and do NOT put it under version
% control. Set path according to your system configuration.
%

<<fontsetup, cache=FALSE, include=FALSE, results='asis'>>=

# To reliably set the font in R plots.

font_paths("/Users/roland/Library/Fonts")

@
